# LC_COLLATE=C sort .gitignore
*.log
*.tsbuildinfo
.browser_modules/
/.venv/
/traceviewer-libs/base/lib/
/traceviewer-libs/react-components/coverage/
/traceviewer-libs/react-components/lib/
TraceCompassTutorialTraces
TraceCompassTutorialTraces.tgz
examples/*/gen-webpack.*
examples/*/lib
examples/*/src-gen
examples/electron/dist/
license-check-summary.txt*
node_modules/
theia-extensions/viewer-prototype/lib/
trace-compass-server
trace-compass-server.tar.gz
