node_modules
.browser_modules
lib
*.log
TraceCompassTutorialTraces
trace-compass-server
trace-compass-server.tar.gz
TraceCompassTutorialTraces.tgz
examples/*
!examples/*/package.json
!examples/*/electron-builder.yml
!examples/*/resources/
!examples/*/scripts
*.tsbuildinfo
scripts/download
license-check-summary.txt*

