:root {
    --trace-viewer-ui-font-size1: var(--theia-ui-font-size1);
    --trace-viewer-selection-background: var(--theia-selection-background);
    --trace-viewer-statusBar-background: var(--theia-statusBar-background);
    --trace-viewer-statusBar-foreground: var(--theia-statusBar-foreground);
    --trace-viewer-ui-padding: var(--theia-ui-padding);
    --trace-viewer-editorWidget-background: var(--theia-editorWidget-background);
    --trace-viewer-ui-font-color0 :var(--theia-ui-font-color0);
    --trace-viewer-editor-background: var(--theia-editor-background);
    --trace-viewer-widget-shadow: var(--theia-widget-shadow);
    --trace-viewer-list-hoverBackground: var(--theia-list-hoverBackground);
    --trace-viewer-tree-inactiveIndentGuidesStroke: var(--theia-tree-inactiveIndentGuidesStroke);
    --trace-viewer-input-background: var(--theia-input-background);
    --trace-viewer-input-placeholder-foreground: var(--theia-input-placeholder-foreground);
    --trace-viewer-ui-font-family: var(--theia-ui-font-family);
    --trace-viewer-content-font-size: var(--theia-content-font-size);
    --trace-viewer-menu-background: var(--theia-menu-background);
    --trace-viewer-menu-foreground: var(--theia-menu-foreground);
    --trace-viewer-menu-border: var(--theia-menu-border);
    --trace-viewer-private-menu-item-height: var(--theia-private-menu-item-height);
    --trace-viewer-menu-selectionBackground: var(--theia-menu-selectionBackground);
    --trace-viewer-menu-selectionForeground: var(--theia-menu-selectionForeground);
    --trace-viewer-menu-selectionBorder: var(--theia-menu-selectionBorder);
    --trace-viewer-descriptionForeground: var(--theia-descriptionForeground);
    --trace-viewer-disabledForeground: var(--theia-disabledForeground);
    --trace-viewer-foreground: var(--theia-foreground);
    --trace-viewer-statusBar-offlineBackground: var(--theia-statusBar-offlineBackground);
    --trace-viewer-statusBar-offlineForeground: var(--theia-statusBar-offlineForeground);
    --trace-viewer-statusBarItem-offlineHoverBackground: var(--theia-statusBarItem-offlineHoverBackground);
    --trace-viewer-statusBarItem-offlineActiveBackground: var(--theia-statusBarItem-offlineActiveBackground);
    --trace-viewer-ui-font-color3: var(--theia-ui-font-color3);
    --trace-viewer-badge-background: var(--theia-badge-background);
    --trace-viewer-layout-color4: var(--theia-layout-color4);
    --trace-viewer-input-foreground: var(--theia-input-foreground);
    --trace-viewer-border-width: var(--theia-border-width);
    --trace-viewer-input-border: var(--theia-input-border);
    --trace-viewer-content-line-height: var(--theia-content-line-height);
    --trace-viewer-button-foreground: var(--theia-button-foreground);
    --trace-viewer-button-background: var(--theia-button-background);
    --trace-viewer-list-hoverForeground: var(--theia-list-hoverForeground);
    --trace-viewer-scrollbarSlider-background: var(--theia-scrollbarSlider-background);
    --trace-viewer-ui-font-color2: var(--theia-ui-font-color2);
    --trace-viewer-ui-button-color: var(--theia-ui-button-color);
    --trace-viewer-sideBarSectionHeader-background: var(--theia-sideBarSectionHeader-background);
    --trace-viewer-view-container-title-height: var(--theia-view-container-title-height);
    --trace-viewer-sideBarSectionHeader-foreground: var(--theia-sideBarSectionHeader-foreground);
    --trace-viewer-trace-extension-list-line-height: 16px;
    --trace-viewer-keybindingLabel-background: var(--theia-keybindingLabel-background);
    --trace-viewer-keybindingLabel-border: var(--theia-keybindingLabel-border);
    --trace-viewer-keybindingLabel-bottomBorder: var(--theia-keybindingLabel-bottomBorder);
    --trace-viewer-keybindingLabel-foreground: var(--theia-keybindingLabel-foreground);
}
