/* Output component styling */
/* Main container*/
.output-container {
    display: flex;
    position: relative;
    color: var(--trace-viewer-ui-font-color0)
}

.output-container:focus {
    outline: none;
}

.widget-handle {
    background: var(--trace-viewer-editor-background);
    display: grid;
    grid-template-rows: 25px 1fr;
    position: relative;
}

.widget-handle-with-options {
    background: var(--trace-viewer-editor-background);
    display: grid;
    grid-template-rows: 25px 25px 1fr;
    position: relative;
}

.pinned-view-shadow {
    box-shadow: 0px 4px 6px 0px var(--trace-viewer-widget-shadow);
}

.title-bar-label {
    text-align: center;
    writing-mode: vertical-rl;
    height: 100%;
    transform: rotate(180deg);
    user-select: none;
    align-self: center;
    justify-self: center;
    cursor: move;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    background: inherit;
}

.custom-ellipsis {
    position: absolute;
    z-index: 1;
    background-color: inherit;
    height: 15px;
    bottom: 0;
}

.hidden-ellipsis {
    display: none;
}

.title-bar-label:hover {
    background-color: var(--trace-viewer-list-hoverBackground);
}

.remove-component-button {
    background: none;
    border: none;
    padding: 2px 8px;
    align-self: center;
    justify-self: center;
    color: var(--trace-viewer-ui-font-color0)
}

.title-bar-label:hover {
    background-color: var(--trace-viewer-list-hoverBackground);
}

.remove-component-button:hover {
    cursor: pointer;
    background-color: var(--trace-viewer-list-hoverBackground);
}

.options-menu-container {
    align-self: start;
    justify-self: center;
    position: relative;
    display: inline-block;
}

.options-menu-button {
    background: none;
    border: none;
    color: var(--trace-viewer-ui-font-color0)
}

.options-menu-button:hover {
    cursor: pointer;
    background-color: var(--trace-viewer-list-hoverBackground);
}

.main-output-container {
    display: flex;
    overflow: hidden;
    position: relative;
    z-index: -1;
    background: var(--trace-viewer-editor-background);
}

.disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.output-component-tree {
    white-space: pre-wrap;
}

.output-component-sash {
    background-color: var(--trace-viewer-list-hoverBackground);
    cursor: col-resize;
}

.output-component-sash:hover {
    background-color: steelblue;
}

.output-component-chart {
    align-self: center;
    text-align: center;
}

.scrollable {
    overflow: auto;
}

#timegraph-main {
    width: 100%;
    display: flex;
}

.xy-main {
    width: 100%;
    display: flex;
}

#main {
    border: 1px solid;
    margin: 10px 0;
    overflow: hidden;
}

canvas {
    display: block;
}

.innerContainer {
    width: 100%;
}

.analysis-running {
    font-size: 24px;
    text-align: center;
    position: relative;
    transform: translate(0, -50%);
    top: 50%;
    width: 90%;
    align-self: center;
}

.analysis-running-main-area {
    font-size: 24px;
    margin: auto;
}

.analysis-running-overflow {
    font-size: 24px;
    display: flex;
    position: absolute;
    top: 0;
    height: 100%;
}

.analysis-running-overflow div {
    margin: auto;
    padding: 5px;
    border-radius: 5px;
}

.chart-message {
    font-size: 20px;
    text-align: center;
    position: relative;
    transform: translate(0, -50%);
    top: 50%;
    width: 90%;
    align-self: center;
}

.message-main-area {
    font-size: 20px;
    transform: translate(0, 50%);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.table-tree {
    display: grid;
    border-collapse: collapse;
    border-left: 1px solid var(--trace-viewer-tree-inactiveIndentGuidesStroke);
}

.table-tree thead,
.table-tree tbody,
.table-tree tr {
    display: contents;
}

.table-tree th {
    position: relative;
    padding: 3px 0px 3px 5px;
    background-color: var(--trace-viewer-list-hoverBackground) !important;
    border-top: 1px solid var(--trace-viewer-tree-inactiveIndentGuidesStroke);
    border-bottom: 1px solid var(--trace-viewer-tree-inactiveIndentGuidesStroke);
    text-align: left;
}

.table-tree tr:hover td {
    background-color: var(--trace-viewer-list-hoverBackground);
}

.table-tree td {
    padding: 3px 5px;
    border-bottom: 1px solid var(--trace-viewer-tree-inactiveIndentGuidesStroke);
    border-right: 1px solid var(--trace-viewer-tree-inactiveIndentGuidesStroke);
    text-align: left;
}

.table-tree th span {
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

.table-tree td span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

.item-properties-table .table-tree td span {
    text-wrap: pretty;
    min-width: 100px;
}

.item-properties-table .table-tree th {
    font-weight: normal;
}

.table-tree tr.selected td {
    background-color: var(--trace-viewer-selection-background) !important;
}

.table-tree tr.multiselected td {
    background-color: var(--trace-viewer-list-hoverBackground) !important;
}

.resize-handle {
    float: right;
    position: absolute;
    top: 1px;
    right: 0px;
    color: var(--trace-viewer-tree-inactiveIndentGuidesStroke);
    background-color: var(--trace-viewer-list-hoverBackground);
    cursor: col-resize;
}

.sort-icon {
    position: absolute;
    top: 3px;
    right: 3px;
    padding: 0px 3px;
    background-color: var(--trace-viewer-list-hoverBackground) !important;
}

.filler {
    padding: 0px !important;
    border-right: 1px solid var(--trace-viewer-tree-inactiveIndentGuidesStroke);
}

.timegraph-tree {
    border: 0px;
}

.timegraph-tree tr {
    /* TODO: Fix row alignment, this number is arbitrary, it works [on my machine], but it should match line height in timeline-chart */
    line-height: 18px;
}

.timegraph-tree td {
    padding: 1px;
    border: 0px;
}

#input-filter-container {
    position: relative;
}

#input-filter-icon {
    position: absolute;
    top: 5px;
    left: 8px;
}

#input-filter-tree {
    background-color: var(--trace-viewer-input-background);
    border-style: solid;
    border-color: var(--trace-viewer-tree-inactiveIndentGuidesStroke);
    border-radius: 15px;
    padding: 3px;
    margin-bottom: 5px;
    text-indent: 23px;
    color: var(--trace-viewer-input-placeholder-foreground);
}

.ag-theme-balham {
    font-family: var(--trace-viewer-ui-font-family) !important;
    font-size: var(--trace-viewer-content-font-size) !important;
}

.ag-theme-balham-dark {
    font-family: var(--trace-viewer-ui-font-family) !important;
    font-size: var(--trace-viewer-content-font-size) !important;
}

.ag-theme-balham-dark .ag-row-selected {
    background-color: var(--trace-viewer-selection-background) !important;
}

.ag-header-row:nth-child(2)>.ag-header-cell {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.ag-floating-filter-full-body:hover {
    background-color: var(--trace-viewer-list-hoverBackground) !important;
    cursor: pointer !important;
}

.hoverClass:hover {
    border: 1px solid black;
}

.options-menu-drop-down {
    position: absolute;
    top: 0%;
    left: 100%;
    padding: 4px 0px;
    z-index: 2;
    min-width: 170px;
    background: var(--trace-viewer-menu-background);
    color: var(--trace-viewer-menu-foreground);
    font-size: var(--trace-viewer-ui-font-size1);
    box-shadow: 0px 0px 12px var(--trace-viewer-widget-shadow);
    border: 1px solid var(--trace-viewer-menu-border);
    outline: none;
    user-select: none;
}

.options-menu-drop-down>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: table;
    width: 100%;
}

.drop-down-list-item {
    min-height: var(--trace-viewer-private-menu-item-height);
    max-height: var(--trace-viewer-private-menu-item-height);
    padding: 0px;
    line-height: var(--trace-viewer-private-menu-item-height);
}

.drop-down-list-item:hover {
    background: var(--trace-viewer-menu-selectionBackground);
    color: var(--trace-viewer-menu-selectionForeground);
    border: thin solid var(--trace-viewer-menu-selectionBorder);
    opacity: 1;
}

.drop-down-list-item-text {
    padding-left: 18%;
}

.drop-down-list-item-checkbox {
    display: inline-block;
    padding-left: 3%;
}

.drop-down-list-item-checkbox-label {
    display: inline-block;
    padding-left: 3%;
}

.drop-down-sub-section {
    list-style-type: none;
    padding: 0px;
    overflow: scroll;
    z-index: 999 !important;
    background: var(--trace-viewer-menu-background);
    color: var(--trace-viewer-menu-foreground);
    font-size: var(--trace-viewer-ui-font-size1);
    box-shadow: 0px 0px 15px var(--trace-viewer-widget-shadow);
    border: 1px solid var(--trace-viewer-menu-border);
}

.react-grid-item:hover {
    z-index: 10;
}

.pin-view-icon {
    margin-top: 5px;
    transform: rotate(180deg);
}

.pagination-bar {
    width: calc(100% - 2px);
    height: 30px;
    display: flex;
    color: var(--trace-viewer-descriptionForeground);
    border: thin solid var(--trace-viewer-disabledForeground);
    border-top: none;
}

.pagination-button {
    border: none;
    background: transparent;
    color: var(--trace-viewer-foreground);
}

.timgraph-search-bar {
    background: var(--trace-viewer-editor-background);
    padding-top: 5px;
    padding-bottom: 15px;
    height: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.timegraph-search-box {
    height: 30px;
    margin-left: 2.5px;
    margin-right: 2.5px;
    font-family: var(--trace-viewer-ui-font-family) !important;
    font-size: var(--trace-viewer-ui-font-size1) !important;
    color: var(--trace-viewer-input-placeholder-foreground) !important;
    background-color: var(--trace-viewer-input-background) !important;
    border-color: var(--trace-viewer-tree-inactiveIndentGuidesStroke) !important;
    border-style: solid;
    border-radius: 15px !important;
    border-width: 1px !important;
}

.timegraph-search-box fieldset {
    border-color: var(--trace-viewer-tree-inactiveIndentGuidesStroke);
}

.search-bar-label {
    font-family: var(--trace-viewer-ui-font-family) !important;
    font-size: var(--trace-viewer-ui-font-size1) !important;
    color: var(--trace-viewer-ui-font-color0) !important;
}

.remove-search-button {
    background: none;
    border: none;
    margin-top: 3px;
    padding-left: 0px;
    padding-right: 0px;
    color: var(--trace-viewer-ui-font-color0);
}

.remove-search-button:hover {
    cursor: pointer;
}

.remove-search-button:focus {
    outline: none;
    box-shadow: none;
}

.search-bar-container {
    display: flex;
    align-items: center;
}


.input-container input {
    flex: 1;
}

.icon-container {
    position: absolute;
    right: 8px;
    margin-top: 8px;
}

.toolbar-container {
    flex: 1;
    margin-right: 5px;
}

.filter-chip {
    background-color: var(--theia-selection-background) !important;
    color: var(--trace-viewer-ui-font-color0);
    border-radius: 15px !important;
    border-width: 1px !important;
    display: flex;
    align-items: center;
    font-size: 12px;
    height: 30px !important;
}

.filter-chip .MuiChip-deleteIcon {
    color: var(--trace-viewer-ui-font-color0);
    font-size: 16px;
    margin-left: 4px;
    cursor: pointer;
}
