/* Output component styling */
/* Main container*/
.output-container {
    display: flex;
    position: relative;
    color: var(--theia-ui-font-color0)
}

.output-container:focus {
    outline: none;
}

.widget-handle {
    background-color: var(--theia-layout-color4);
    display: grid;
    grid-template-rows: 25px 1fr;
}
.widget-handle :hover {
    background-color: var(--theia-list-hoverBackground); 
}
.title-bar-label {
    text-align: center;
    writing-mode: vertical-rl;
    height: 100%;
    transform: rotate(180deg);
    user-select: none;
    align-self: center;
    justify-self: center;
    cursor: move;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.remove-component-button {
    background: none;
    border: none;
    padding: 2px 8px;
    align-self: center;
    justify-self: center;
    color: var(--theia-ui-font-color0)
}

.main-output-container {
    display: flex;
    overflow: hidden;
    position: relative;
    z-index: -1;
}

.disable-select {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

.output-component-tree {
    white-space: pre-wrap;
}

.output-component-sash {
    background-color: var(--theia-list-hoverBackground);
    cursor: col-resize;
}

.output-component-sash:hover {
    background-color: steelblue;
}

.output-component-chart {
    align-self: center;
    text-align: center;
}

.scrollable {
    overflow: auto;
}

#timegraph-main {
    width: 100%;
    display: flex;
}

.xy-main {
    width: 100%;
    display: flex;
}

#main {
    border: 1px solid;
    margin: 10px 0;
    overflow: hidden;
}

canvas {
    display: block;
}

.innerContainer {
    width: 100%;
}

.analysis-running {
    font-size: 24px;
    text-align: center;
    position: relative;
    transform: translate(0, -50%);
    top: 50%;
    width: 90%;
    align-self: center;
}

.analysis-running-main-area {
    font-size: 24px;
    margin: auto;
}

.chart-message {
    font-size: 20px;
    text-align: center;
    position: relative;
    transform: translate(0, -50%);
    top: 50%;
    width: 90%;
    align-self: center;
}

.message-main-area {
    font-size: 20px;
    transform: translate(0, 50%);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.table-tree {
    display: grid;
    border-collapse: collapse;
    border-left: 1px solid var(--theia-tree-inactiveIndentGuidesStroke);
}

.table-tree thead, .table-tree tbody, .table-tree tr {
    display: contents;
}

.table-tree th {
    position: relative;
    padding: 3px 0px 3px 5px;
    background-color: var(--theia-list-hoverBackground) !important;
    border-top: 1px solid var(--theia-tree-inactiveIndentGuidesStroke);
    border-bottom: 1px solid var(--theia-tree-inactiveIndentGuidesStroke);
    text-align: left;
}

.table-tree tr:hover td {
    background-color: var(--theia-list-hoverBackground) !important;
}

.table-tree td {
    padding: 3px 5px;
    border-bottom: 1px solid var(--theia-tree-inactiveIndentGuidesStroke);
    border-right: 1px solid var(--theia-tree-inactiveIndentGuidesStroke);
    text-align: left;
}

.table-tree th span {
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

.table-tree td span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

.resize-handle {
    float: right;
    position: absolute;
    top: 1px;
    right: 0px;
    color: var(--theia-tree-inactiveIndentGuidesStroke);
    background-color: var(--theia-list-hoverBackground);
    cursor: col-resize;
}

.sort-icon {
    position: absolute;
    top: 3px;
    right: 3px;
    padding: 0px 3px;
    background-color: var(--theia-list-hoverBackground) !important;
}

.filler {
    padding: 0px !important;
    border-right: 1px solid var(--theia-tree-inactiveIndentGuidesStroke);
}

.timegraph-tree {
    border: 0px; 
}

.timegraph-tree tr {
    /* TODO: Fix row alignment, this number is arbitrary, it works [on my machine], but it should match line height in timeline-chart */
    line-height: 18px;
}

.timegraph-tree td {
    padding: 1px;
    border: 0px; 
}

#input-filter-tree {
    background-color: var(--theia-input-background);
    border: none;
    border-bottom: 1px solid var(--theia-input-foreground);
    padding: 3px;
    color: var(--theia-input-placeholder-foreground)
}

.ag-theme-balham{
    font-family: var(--theia-ui-font-family) !important;
    font-size: var(--theia-content-font-size) !important;
}

.ag-theme-balham-dark{
    font-family: var(--theia-ui-font-family) !important;
    font-size: var(--theia-content-font-size) !important;
}

.ag-theme-balham-dark .ag-row-selected {
    background-color: var(--theia-selection-background) !important;
}

.ag-header-row:nth-child(2) > .ag-header-cell {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.ag-floating-filter-full-body:hover {
    background-color: var(--theia-list-hoverBackground) !important;
    cursor: pointer !important;
}

.hoverClass:hover {
    border: 1px solid black;
}
