/* Output component styling */
/* Main container*/
.output-container {
    display: flex;
    position: relative;
    color: var(--theia-ui-font-color0)
}

.output-container:focus {
    outline: none;
}

.widget-handle {
    background: var(--theia-editor-background);
    display: grid;
    grid-template-rows: 25px 1fr;
    position: relative;
}
.widget-handle-with-options {
    background: var(--theia-editor-background);
    display: grid;
    grid-template-rows: 25px 25px 1fr;
    position: relative;
}
.pinned-view-shadow {
    box-shadow: 0px 4px 6px 0px var(--theia-widget-shadow);
}
.title-bar-label {
    text-align: center;
    writing-mode: vertical-rl;
    height: 100%;
    transform: rotate(180deg);
    user-select: none;
    align-self: center;
    justify-self: center;
    cursor: move;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.title-bar-label:hover {
    background-color: var(--theia-list-hoverBackground); 
}
.remove-component-button:hover {
    cursor: pointer;
    background-color: var(--theia-list-hoverBackground); 
}
.share-component-container {
    align-self: start;
    justify-self: center;
    position: relative;
    display: inline-block;
}
.share-component-button {
    background: none;
    border: none;
    color: var(--theia-ui-font-color0)
}
.share-component-button:hover {
    cursor: pointer;
    background-color: var(--theia-list-hoverBackground); 
}
.share-component-drop-down {
    position: absolute;
    top: 100%;
    left: 50%;
    padding: 0;
    z-index: 2;
    min-width: 180px;
    background: var(--theia-menu-background);
    color: var(--theia-menu-foreground);
    font-size: var(--theia-ui-font-size1);
    box-shadow: 0px 1px 6px var(--theia-widget-shadow);
    border: 1px solid var(--theia-menu-border);
}
.share-component-drop-down > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: table;
    width: 100%;
}
.drop-down-list-item {
    padding: 8px 12px;
    background-color: var(--theia-menu-background);
    color: var(--theia-menu-foreground);
}
.drop-down-list-item:hover {
    background: var(--theia-menu-selectionBackground);
    color: var(--theia-menu-selectionForeground);
    opacity: 1;
}
.remove-component-button {
    background: none;
    border: none;
    padding: 2px 8px;
    align-self: center;
    justify-self: center;
    color: var(--theia-ui-font-color0)
}
.title-bar-label:hover {
    background-color: var(--theia-list-hoverBackground); 
}
.remove-component-button:hover {
    cursor: pointer;
    background-color: var(--theia-list-hoverBackground); 
}

.options-menu-container {
    align-self: start;
    justify-self: center;
    position: relative;
    display: inline-block;
}
.options-menu-button {
    background: none;
    border: none;
    color: var(--theia-ui-font-color0)
}
.options-menu-button:hover {
    cursor: pointer;
    background-color: var(--theia-list-hoverBackground); 
}

.main-output-container {
    display: flex;
    overflow: hidden;
    position: relative;
    z-index: -1;
    background: var(--theia-editor-background);
}

.disable-select {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

.output-component-tree {
    white-space: pre-wrap;
}

.output-component-sash {
    background-color: var(--theia-list-hoverBackground);
    cursor: col-resize;
}

.output-component-sash:hover {
    background-color: steelblue;
}

.output-component-chart {
    align-self: center;
    text-align: center;
}

.scrollable {
    overflow: auto;
}

#timegraph-main {
    width: 100%;
    display: flex;
}

.xy-main {
    width: 100%;
    display: flex;
}

#main {
    border: 1px solid;
    margin: 10px 0;
    overflow: hidden;
}

canvas {
    display: block;
}

.innerContainer {
    width: 100%;
}

.analysis-running {
    font-size: 24px;
    text-align: center;
    position: relative;
    transform: translate(0, -50%);
    top: 50%;
    width: 90%;
    align-self: center;
}

.analysis-running-main-area {
    font-size: 24px;
    margin: auto;
}

.chart-message {
    font-size: 20px;
    text-align: center;
    position: relative;
    transform: translate(0, -50%);
    top: 50%;
    width: 90%;
    align-self: center;
}

.message-main-area {
    font-size: 20px;
    transform: translate(0, 50%);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.table-tree {
    display: grid;
    border-collapse: collapse;
    border-left: 1px solid var(--theia-tree-inactiveIndentGuidesStroke);
}

.table-tree thead, .table-tree tbody, .table-tree tr {
    display: contents;
}

.table-tree th {
    position: relative;
    padding: 3px 0px 3px 5px;
    background-color: var(--theia-list-hoverBackground) !important;
    border-top: 1px solid var(--theia-tree-inactiveIndentGuidesStroke);
    border-bottom: 1px solid var(--theia-tree-inactiveIndentGuidesStroke);
    text-align: left;
}

.table-tree tr:hover td {
    background-color: var(--theia-list-hoverBackground) !important;
}

.table-tree td {
    padding: 3px 5px;
    border-bottom: 1px solid var(--theia-tree-inactiveIndentGuidesStroke);
    border-right: 1px solid var(--theia-tree-inactiveIndentGuidesStroke);
    text-align: left;
}

.table-tree th span {
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

.table-tree td span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

.resize-handle {
    float: right;
    position: absolute;
    top: 1px;
    right: 0px;
    color: var(--theia-tree-inactiveIndentGuidesStroke);
    background-color: var(--theia-list-hoverBackground);
    cursor: col-resize;
}

.sort-icon {
    position: absolute;
    top: 3px;
    right: 3px;
    padding: 0px 3px;
    background-color: var(--theia-list-hoverBackground) !important;
}

.filler {
    padding: 0px !important;
    border-right: 1px solid var(--theia-tree-inactiveIndentGuidesStroke);
}

.timegraph-tree {
    border: 0px; 
}

.timegraph-tree tr {
    /* TODO: Fix row alignment, this number is arbitrary, it works [on my machine], but it should match line height in timeline-chart */
    line-height: 18px;
}

.timegraph-tree td {
    padding: 1px;
    border: 0px; 
}

#input-filter-container {
    position: relative;
}

#input-filter-icon {
    position: absolute;
    top: 5px;
    left: 8px;
}

#input-filter-tree {
    background-color: var(--theia-input-background);
    border-style: solid;
    border-color: var(--theia-tree-inactiveIndentGuidesStroke);
    border-radius: 15px;
    padding: 3px;
    margin-bottom: 5px;
    text-indent: 23px;
    color: var(--theia-input-placeholder-foreground);
}

.ag-theme-balham{
    font-family: var(--theia-ui-font-family) !important;
    font-size: var(--theia-content-font-size) !important;
}

.ag-theme-balham-dark{
    font-family: var(--theia-ui-font-family) !important;
    font-size: var(--theia-content-font-size) !important;
}

.ag-theme-balham-dark .ag-row-selected {
    background-color: var(--theia-selection-background) !important;
}

.ag-header-row:nth-child(2) > .ag-header-cell {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.ag-floating-filter-full-body:hover {
    background-color: var(--theia-list-hoverBackground) !important;
    cursor: pointer !important;
}

.hoverClass:hover {
    border: 1px solid black;
}

.options-menu-drop-down {
    position: absolute;
    top: 0%;
    left: 100%;
    padding: 0;
    z-index: 2;
    min-width: 180px;
    background: var(--theia-menu-background);
    color: var(--theia-menu-foreground);
    font-size: var(--theia-ui-font-size1);
    box-shadow: 0px 1px 6px var(--theia-widget-shadow);
    border: 1px solid var(--theia-menu-border);
}
.options-menu-drop-down > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: table;
    width: 100%;
}
.drop-down-list-item {
    padding: 8px 12px;
    background-color: var(--theia-menu-background);
    color: var(--theia-menu-foreground);
}
.drop-down-list-item:hover {
    background: var(--theia-menu-selectionBackground);
    color: var(--theia-menu-selectionForeground);
    opacity: 1;
}
.toggle-columns-table {
    height: 150px;
    overflow: scroll;
    z-index: 999 !important;
    background: var(--theia-menu-background);
    color: var(--theia-menu-foreground);
    font-size: var(--theia-ui-font-size1);
    box-shadow: 0px 1px 6px var(--theia-widget-shadow);
    border: 1px solid var(--theia-tree-inactiveIndentGuidesStroke);
}

.react-grid-item:hover {
    z-index: 10;
}

.pin-view-icon {
    margin-top: 5px;
    transform: rotate(180deg);
}
