/* textarea {
    background-color: black;
    color: var(--theia-ui-font-color0);
    font-family: var(--theia-ui-font-family);
}

div {
    color: var(--theia-ui-font-color0);
    font-family: var(--theia-ui-font-family);
} */

/* Main container */
.trace-viewer-container {
    margin: 0px 5px 0px 5px;
    height: 100%;
}

/* Grey out container */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Ensure the overlay appears on top */
}
  
.warning-text {
    color: white; /* Color of the warning text */
    text-align: center;
    font-size: 24px;
}