/* Output component styling */
/* Main container*/
.output-container {
    display: flex;
    color: var(--theia-ui-font-color0)
}

.widget-handle {
    background-color: var(--theia-layout-color4);
    display: grid;
    grid-template-rows: 25px 1fr;
}
.title-bar-label {
    text-align: center;
    writing-mode: vertical-rl;
    height: 50%;
    min-height: 150px;
    transform: rotate(180deg);
    user-select: none;
    align-self: center;
    justify-self: center;
}
.remove-component-button {
    background: none;
    border: none;
    padding: 2px 8px;
    align-self: center;
    justify-self: center;
    color: var(--theia-ui-font-color0)
}

.main-output-container {
    display: flex;
}

.output-component-tree {
    overflow-y: scroll;
    white-space: pre-wrap;
}

.output-component-chart {
    align-self: center;
    text-align: center;
}

#timegraph-main {
    width:100%; 
    overflow-y:scroll; 
    position:relative;
    height: 300px;
}

#main {
    border: 1px solid;
    margin: 10px 0;
    overflow: hidden;
}

canvas {
    display: block;
}


.innerContainer {
    width: 100%;
}