.no-output-placeholder {
    color: var(--theia-ui-font-color3);
    font-size: 24px;
    transform: translate(30%, 500%);
}

.react-grid-item.react-grid-placeholder {
    background: var(--theia-accent-color3);
}

.trace-context-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.outputs-grid-layout {
    flex-grow: 1;
    overflow-y: scroll;
    overflow-x: hidden;
}