.trace-explorer-tab-icon {
    -webkit-mask: url('chart-line-solid.svg');
    mask: url('chart-line-solid.svg');
}

/* Main container */
.trace-explorer-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr; /*1fr*/
    grid-row-gap: 10px;
    color: var(--theia-ui-font-color0);
}

.trace-explorer-opened {
    grid-row-start: 1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25px 1fr;
}

/* .trace-explorer-files {
    grid-row-start: 2;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25px 1fr;
} */

.trace-explorer-analysis {
    grid-row-start: 2;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25px 1fr;
}

.trace-explorer-panel-title {
    grid-row-start: 1;
    background-color: var(--theia-layout-color4);
    /* background-color: rgba(97, 97, 97, 0.5); */
    /* color: white; */
    text-align: center;
    line-height: 25px;
}

.trace-explorer-panel-content {
    grid-row-start: 2;
    border: 1px solid var(--theia-layout-color4);
    /* color: white; */
    padding-inline-start: 5px;
    white-space: nowrap;
}

.trace-explorer-panel-content>ul {
    list-style-type: none;
    padding-inline-start: 0px;
}

.trace-list-container, .outputs-list-container {
    /* color: white; */
    overflow-x: hidden;
    white-space: nowrap;
}

.outputs-list-container.theia-mod-selected {
    background-color: var(--theia-selection-background);
}

.trace-element-container {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 50px;
    grid-template-rows: auto;
}

.trace-element-container.theia-mod-selected {
    background-color: var(--theia-selection-background);
}

.trace-element-info {
    overflow-x: hidden;
    grid-column-start: 1;
}

.trace-element-name, .outputs-element-name {
    font-weight: bold;
}

.trace-element-path, .outputs-element-description {
    color: var(--theia-ui-font-color2);
    /* color: rgb(160, 160, 160); */
    white-space: pre;
}

.trace-element-options {
    grid-column-start: 2;
    padding-left: 10px;
}

.share-context-button {
    width: 100%;
    height: 100%;
    min-width: 10px;
    margin-left: 0px;
}

.sharing-modal {
    position: absolute;
    top: 400px;
    left: 600px;
    right: 600px;
    bottom: 550px; /*470px;*/
    background-color: rgb(30, 30, 30);
}

.sharing-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6)
}

.sharing-container {
    margin: 10px;
}

.sharing-description {
    color: white;
    padding-bottom: 15px;
}

.sharing-link-info {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 50px;
}

.sharing-link {
    grid-column-start: 1;
}

.sharing-link>textarea {
    color: white;
    background-color: rgb(50, 50, 50);
    border-color: var(--theia-ui-button-color);
    min-width: 100%;
    min-height: 100%;
    resize: none;
    box-sizing: border-box;
}

.sharing-link-copy {
    grid-column-start: 2;
    padding-left: 10px;
}

.copy-link-button {
    width: 100%;
    height: 100%;
    min-width: 10px;
    margin-left: 0px;
}

.source-code-tooltip {
    text-decoration: underline;
}